---
import { Image } from "astro:assets";

import down from '../assets/down-arrow.png';

export interface Members{
    id: number;
    name: string;
    position: string;
    about: string;
    image: ImageMetadata;

}

export interface Props {
  members: Members[];
}
const {members} = Astro.props

---

<section class="">
    <div class=" mx-auto p-4 flex justify-center flex-wrap">
        {members.map(person =>
            <div class="accordion-item hover:bg-black hover:bg-opacity-20 border-gray-300 mx-4 rounded-md mb-4 w-[270px]">
                <article class="w-full text-left p-4 pb-0 rounded-md ">
                    <figure class="w-[px] m-auto">
                        <div class=" ">
                            <Image alt='' src={person.image} format="avif" class='w-[200px] h-[200px] mx-auto'/>
                        </div>
                        <figcaption class="my-4 text-white text-center">
                            <p class="font-bold">{person.position}</p>
                            <p>{person.name}</p>
                        </figcaption>
                    </figure>
                </article>
                <button class="accordion-button bg-white w-8 h-4 rounded mx-auto block">
                    <Image alt='' src={down} format="avif" class='w-4 h-4 mx-auto'/>
                </button>
            <div class="accordion-content max-h-0 overflow-hidden transition-all duration-500">
                <p class="p-4">{person.about}</p>
            </div>
            
        </div>
        )}
    </div>

</section>

<script>
    document.querySelectorAll('.accordion-button').forEach(button => {
    button.addEventListener('click', () => {
        const accordionContent = button.nextElementSibling as HTMLElement | null;
        const accordionItem = button.closest('.accordion-item');

        if (!accordionContent) return;

        button.classList.toggle('active');

        if (button.classList.contains('active')) {
            accordionItem?.classList.add('border')
            accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`;
        } else {
            accordionItem?.classList.remove('border')
            accordionContent.style.maxHeight = '0';
        }
    });
});


</script>